/* about.css */

.about-container {
    height: 90vh;
      display: grid;
      grid-template-columns: repeat(1,auto);
      justify-content: center;
      padding: 40px;
       color: black;
      h1{
        font-size: 50px;
        color: rgb(63, 59, 59);
        font-family:'Times New Roman', Times, serif;
      }
    }
    .abt-subhead{
      margin-left: 4vw;
    }
    .card {
      margin-top: -150px;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      padding-left: 10vw;
    }
    
    .content {
      flex: 1;
      padding:20px;
      padding-right: 80px;
      width: 100%;
    }
    
    .image {
      flex: 1;
      margin-left: 50px;
      margin-top: -90px;
    }
    .abtimg1{
      position: absolute;
      z-index: 1;
      width:  10vw;
      height: 25vh;
      margin-left:-50px;
      margin-top: 50px;
    }
    .abtimg2{
      z-index: 1;
      position: absolute;
      margin-top: 150px;
      margin-left: 200px;
      width: 15vw;
      height: 22vh;
    }
    .abtimg3{
      position: absolute;
      width: 23vw;
      height: 55vh;
    }
    .showbutt{
      border: 1px solid black;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      background: none;
    }
    .about-container{
      h1{
        font-size: 3vw;
      }
    }
    .res-abt-img{
      display: none;
    }
    
    @media (max-width: 768px) {
      .about-container{
        padding: 10px;
        text-align: center;
        h1{
          font-size: 30px;
        }
      }
      .card{
        display: grid;
        grid-template-columns: repeat(1,auto);
        margin-top: -10vh;
        text-align: left;
        padding-left:10px;
        z-index: -1;
      }
      .content{
        padding: 0;
        margin-left:-10px;
        margin-top: 40px;
        width: 100%;
      }
      .abt-head{
        padding: 0;
        padding-top:5vh;
        
      }
      .image{
        display: grid;
        grid-template-columns: repeat(1, auto);
      }
      .abtimg1, .abtimg2, .abtimg3{
        display: none;
      }
      .res-abt-img{
        display: block;
        img{
          width: 100%;
        }
      }
    }
    