/* about.css */

.about-container {
    height: 90vh;
      display: grid;
      grid-template-columns: repeat(1,auto);
      justify-content: center;
      padding: 40px;
      /* margin-top: 5vh; */
       color: black;
      h1{
        font-size: 50px;
        color: rgb(63, 59, 59);
        font-family:'Times New Roman', Times, serif;
      }
    }
    .abt-subhead{
      margin-left: 90px;
    }
    .abt-subheadline::after{
      content: '';
      width: 100px;
      height: 3px;
      margin-top: 35px;
      margin-left: 5px;
      background-color: #1b2735;
      position: absolute;
    }
    .card {
      margin-top: -150px;
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      padding-left: 10vw;
    }
    
    .content {
      flex: 1;
      padding:20px;
      padding-right: 80px;
    }
    
    .image {
      flex: 1;
      margin-left: 50px;
      margin-top: -90px;
    }
    .abtimg1{
      position: absolute;
      z-index: 1;
      width:  10vw;
      height: 25vh;
      margin-left:-50px;
      margin-top: 50px;
    }
    .abtimg2{
      z-index: 1;
      position: absolute;
      margin-top: 150px;
      margin-left: 200px;
      width: 15vw;
      height: 22vh;
    }
    .abtimg3{
      position: absolute;
      width: 23vw;
      height: 55vh;
    }
    .showbutt{
      border: 1px solid black;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      background: none;
    }
    
    @media (max-width: 768px) {
      /* Adjust layout for smaller screens */
      .about-container{
        padding: 0;
        margin-left: -35px;
      }
      .card{
        display: grid;
        grid-template-columns: repeat(1,auto);
        justify-content: center;
      }
      .content{
        padding: 10px;
      }
      .image{
        padding: 10px;
      }
      .abtimg{
        width: 100%;
      }
    }
    