
  .container {
    text-align: left;
    background-color:rgba(128, 128, 128, 0.082) ;
    display: grid;
    height: 170vh;
    padding-top: 5vh;
  }
  .header{
    margin-left:5%;
    width:50%;
    text-align: left;
  }
  .header h1 {
      font-size: 50px;
      color: rgb(63, 59, 59);
      font-family:'Times New Roman', Times, serif;
  }
  
  .header p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .explore-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .explore-button:hover {
    background-color: #e64a19;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 0vh;
    justify-content: center;
    gap: 10px;
  }
  
  .image-grid img {
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
  }
  .img-container{
    margin-top: -40px;
    width: 18vw;
  }
  #image-container-1{
    margin-top: 30vh;
  }
  #image-container-2{
    margin-top: 10vh;
  }
  #image-container-4{
    margin-top: 20vh;
  }
  
  .image-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .image-wrapper img {
    transition: transform 0.3s ease;
  }
  
  .image-wrapper:hover img {
    transform: scale(1); /* Zoom effect on hover */
  }
  
  .overlay {
    position: absolute;
    margin-top: 8px;
    width: 100%;
    height: 97%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .image-wrapper:hover .overlay {
    opacity: 1;
  }
  
  .overlay-content {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }
  